<!DOCTYPE html>
<html>
  <head>
    <title>Projectiverse App | About</title>
  </head>
  <body>
    <h1>Projectiverse About</h1>
    <p>
    Projectiverse is a commerce bonanza for free art.  
    </p>
  </body>
</html>

