<h1>Vera Maurina Press</h1>

<% if signed_in? %>
 <table class="front" summary="For signed-in users">
  <tr>
   <td class="main">
    <h1 class="micropost">What's up?</h1>
    <%= render 'shared/micropost_form' %>
    <%= render 'shared/feed' %>
   </td>
   
   <td class="sidebar round">
    <%= render 'shared/user_info' %>
   </td>
  </tr>
 </table>
<% else %>
 
 <p>
  Vera's micro-post-ready-made-home
 </p>

 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
